/* Center child elements */
h6,
.pg-counter {
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
  /* flex-direction: column; */
}

h6 {
  height: 100vh;
}

/* Styles for website counter container */
.pg-counter {
  background-color: #f5e5a3;
  height: 50px;
  width: 80px;
  color: rgb(0, 0, 0);
  border-radius: 30px;
  font-weight: 700;
  font-size: 25px;
  margin-top: 10px;
}

/* Styles for reset button */
#reset {
  margin-top: 20px;
  background-color: #008cba;
  cursor: pointer;
  font-size: 18px;
  padding: 8px 20px;
  color: white;
  border: 0;
}

/* https://contactmentor.com/build-website-visitor-counter-javascript/ */